<!DOCTYPE html>

{% extends "2_auth/base_auth.html" %}

{% block titulo %}Recuperar Senha{% endblock %}

{% block header %}
    <h1>PAD - Recuperar Senha</h1>
    <div class="auth-links">
        <a href="/">Início</a>
        <a href="/auth/login">Log in</a>
    </div>
{% endblock %}

{% block conteudo %}
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}

    <h2>Recuperar Senha</h2>
    <form method="post" action="{{ url_for('auth.recover_password') }}">
        <input type="text" name="email" placeholder="Digite seu e-mail" required><br>
        <button type="submit">Enviar</button>
    </form>
{% endblock %}