<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atividades Cadastradas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <header>
        <h1>PAD - Atividades</h1>
        <div class="auth-links">
            <a href="{{ url_for('formulario') }}">Cadastrar Nova</a>
        </div>
    </header>

    <main>
        <div>
    <label for="filtroTurma"><strong>Filtrar por turma:</strong></label>
    <select id="filtroTurma">
        <option value="todas">Todas</option>
        {% set turmas = atividades | map(attribute='turma') | list | unique %}
        {% for turma in turmas %}
            <option value="{{ turma }}">{{ turma }}</option>
        {% endfor %}
    </select>
</div>

        {% if atividades %}
            <h2>Atividades Cadastradas</h2>
            <div class="reclamacoes">
                {% for atividade in atividades %}
                <div class="atividade-row">
    <p><strong>Matéria:</strong> {{ atividade.materia }}</p>
    <p><strong>Assunto:</strong> {{ atividade.assunto }}</p>
    <p class="turma"><strong>Turma:</strong> {{ atividade.turma }}</p>
    <p><strong>Data e Hora:</strong> {{ atividade.data_hora_realizacao }}</p>
    <p><strong>Local:</strong> {{ atividade.local_prova }}</p>

    <button class="btn-excluir" data-id="{{ atividade.id }}">Excluir</button>
</div>
<div class="detalhes-row">
    <details>
        <summary><strong>Ver detalhes</strong></summary>
        <div>
            <p><strong>Professor:</strong> {{ atividade.docente_id }}</p>
            <p><strong>Pontuação:</strong> {{ atividade.pontuacao }} pontos</p>
            <p><strong>Tipo de Atividade:</strong> {{ atividade.tipo_atividade }}</p>
            <p><strong>Materiais:</strong> {{ atividade.materiais_necessarios }}</p>
        </div>
    </details>
</div>

                {% endfor %}
            </div>
        {% else %}
            <p class="flash">Nenhuma atividade cadastrada no momento.</p>
        {% endif %}
    </main>

    <footer>
        <p>Contato: <a href="mailto:faleconosco_pad@gmail.com">faleconosco_pad@gmail.com</a></p>
        <p>PAD - Plataforma de Atendimento Discente</p>
        <p>Projeto produzido na disciplina PPA 2025</p>
        <p>&copy; 2025 Plataforma Acadêmica. <a href="#">Termos de Uso</a></p>
    </footer>
    
    <script src="{{ url_for('static', filename='js/atividades.js') }}"></script>
</body>
</html>
