<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <header>
        <h1>PAD - Fale Conosco</h1>
        <div class="auth-links">
            {% if g.user %}
                <span>Olá, {{ g.user['nome'] }}!</span>
                <a href="/auth/logout">Sair</a>
            {% else %}
                <a href="/auth/login">Login</a>
                <a href="/auth/register">Sign In</a>
            {% endif %}
        </div>
    </header>

    <main>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        <h2>Fazer uma Reclamação</h2>
        
        <form method="post">
            <label for="topico">Tópico:</label>
            <select name="topico" required>
                <option value="Calendário">Calendário</option>
                <option value="Cadastro de Perfil">Cadastro de Perfil</option>
                <option value="Cadastro de Atividades">Cadastro de Atividades</option>
                <option value="Avaliações">Avaliações</option>
                <option value="Outros">Outros</option>
            </select><br>
            <label for="descricao">Descrição:</label>
            <textarea name="descricao" id="descricao" required></textarea>

            <button type="submit">Enviar Reclamação</button>
        </form>
        <nav>
            <ul>
                <li><a href="/reclamacoes">Ver Reclamações</a></li>
            </ul>
        </nav>
    </main>

    <footer>
        <p>Contato: <a href="mailto:faleconosco_pad@gmail.com">faleconosco_pad@gmail.com</a></p>
        <p>PAD - Plataforma de Atendimento Discente</p>
        <p>Projeto produzido na disciplina PPA 2025</p>
        <p>&copy; 2025 Plataforma Acadêmica. <a href="#">Termos de Uso</a></p>
    </footer>
    

</body>
</html>
