<!DOCTYPE html>

{% extends "base.html" %}

{% block titulo %}Página Inicial{% endblock %}

{% block sub_titulo %}PAD - Fale Conosco{% endblock %}

{% block conteudo %}
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        <h2>Fazer uma Reclamação</h2>
        
        <form method="post">
            <label for="topico">Tópico:</label>
            <select name="topico" required>
                <option value="Calendário">Calendário</option>
                <option value="Cadastro de Perfil">Cadastro de Perfil</option>
                <option value="Cadastro de Atividades">Cadastro de Atividades</option>
                <option value="Avaliações">Avaliações</option>
                <option value="Outros">Outros</option>
            </select><br>
            <label for="descricao">Descrição:</label>
            <textarea name="descricao" id="descricao" required></textarea>

            <button type="submit">Enviar Reclamação</button>
        </form>
        <nav>
            <ul>
                <li><a href="/reclamacoes">Ver Reclamações</a></li>
            </ul>
        </nav>
{% endblock %}
