<!DOCTYPE html>

{% extends "base.html" %}

{% block titulo %}Página Inicial{% endblock %}

{% block sub_titulo %}PAD - Página Inicial{% endblock %}

{% block conteudo %}
    <h2>Fórum</h2>
    <nav>
        <ul>
            <li><a href="/forum">Acessar Fórum</a></li>
            <li><a href="/forum/criar_post">Novo post</a></li>
        </ul>
    </nav>

    <h2>Fale Conosco</h2>
    <nav>
        <ul>
            <li><a href="/faleConosco/reclamar">Fazer uma Reclamação</a></li>
            <li><a href="/faleConosco/reclamacoes">Ver Reclamações</a></li>
        </ul>
    </nav>

    <h2>Cadastro de Atividades</h2>
    <nav>
        <ul>
            <li><a href="/atividades/cadastrar">Cadastrar Atividade</a></li>
            <li><a href="/atividades/visualizar">Ver atividades</a></li>
        </ul>
    </nav>
{% endblock %}
