<!DOCTYPE html>

{% extends "base.html" %}

{% block titulo %}Minhas Reclamações{% endblock %}

{% block sub_titulo %}PAD - Fale Conosco{% endblock %}

{% block conteudo %}
    <h2>Reclamações</h2>

    {% if reclamacoes %}
        <div class="reclamacoes">
            {% for r in reclamacoes %}
                <div class="reclamacao">
                    <h3>{{ r['topico_nome'] }}</h3>
                    <p>{{ r['descricao'] }}</p>
                    <small>Data: {{ r['data_reclamacao'] }}</small>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Nenhuma reclamação.</p>
    {% endif %}
{% endblock %}