<!DOCTYPE html>

{% extends "base.html" %}

{% block titulo %}Fórum - PAD IFBA{% endblock %}

{% block sub_titulo %}PAD - Fórum{% endblock %}

{% block conteudo %}
	{% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
		
	<div class="forum-container">
		<h2>{{ post.titulo }}</h2>
	
		<div class="post-card">
            <div class="post-header">
                <span class="post-author">
				{% if post.usuario %}
				{% set partes_nome = post.usuario.nome.split() %}
					{% if partes_nome|length >= 2%}
						{{partes_nome[0]}} {{partes_nome[-1]}}
				{% else %}
					{{ post.matricula }}
					{% endif %}
				{% endif %}
				</span>
				
                <span class="post-date">{{ post.data_post.strftime('%d/%m/%Y %H:%M') }}</span>
            </div>
            <div class="post-content">
                {{ post.descricao }}
            </div>
        </div>
    </div>

{% endblock %}