<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>PAD - Plataforma de Agendamento Discente</h1>
        <span>Olá, Usuário</span>
    </header>

    <main>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        <h1>Disciplinas do 3ºanoB</h1>
        <ul class="result-list">    
        {% for disciplina in disciplinas %}
            <li>
                <a href="/disciplina/{{ disciplina.disciplina_id }}">
                    <strong>{{ disciplina.sigla }}</strong> - {{ disciplina.nome }}
                    <span class="disciplina-id">id: {{ disciplina.disciplina_id }}</span>
                </a>
            </li>
        {% endfor %}
        </ul>
    </main>
</body>
